/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body font family and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Style header and navigation */
header {
  background-color: #333;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}

.navigation {
  list-style: none;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.navigation li a:hover {
  color: #f2f2f2;
}

.menu-toggle {
  display: none;
  width: 30px;
  height: 30px;
  background-image: url('../static/menu.png');
  background-size: cover;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 998;
    padding: 20px;
  }

  .navigation li {
    margin: 10px 0;
  }

  .navigation li a {
    font-size: 16px;
  }

  .navigation.active {
    display: flex;
  }
}

/* Style main section */
main {
  margin-top: 80px;
}

.detect {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.detect h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.form-control {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.logout-icon {
  position: relative;
  margin-left: 20px;
}

.logout-icon .text {
  position: absolute;
  top: -20px;
  right: 30px;
  display: none;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.logout-icon:hover .text {
  display: block;
}

.logout-icon:hover i {
  display: none;
}


.form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: #e6e6e6;
}

textarea.form-control {
  resize: none;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #f2f2f2;
}


